/* CRETEAD BY PHILIP DROUBI */

#top {
    position: fixed;
    bottom: 20px;
    right: -40px;
    background-color: #cee8f7;
    color: #263238;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid var(--nice-cyan);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.212);
    transition: 0.2s;
    z-index: 102;
}

#top i {
    transition: 0.2s;
}

#top:hover {
    background-color: #bee0f4;
}

#top:hover i {
    transform: translateY(-6px);
}

#top.show {
    right: 20px;
}