/* CRETEAD BY PHILIP DROUBI */
.construction {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    padding: 20px;
    color: var(--nice-cyan);
}

.hammer {
    animation-name: hammerAnim;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: block;
    width: fit-content;
    margin: auto;
}

@keyframes hammerAnim {
    0% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(-80deg);
    }
}

@media (max-width:644px) {
    .construction {
        font-size: 1.8em;
    }
}