/* CRETEAD BY PHILIP DROUBI */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Orbitron:wght@400;500;600;700;800;900&family=Outfit:wght@400;700&family=Raleway:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

:root {
    --font-size: 16px;
    --body-background-color: #f1f1f1;
    --navBar-color: rgb(34, 42, 53);
    --nice-cyan: #29a5ed;
    --whitesmoke: rgba(245, 245, 245, 0.808);
    --main-padding-top: 60px;
    --orangered: rgb(255, 69, 0);
    --orange: orange;
    --semi-light-blue: #17255A;
    --dark-blue: #000C66;
    --margin: 80px;
}

/* Start global rules */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XLarge */
@media (min-width: 1400px) {
    .container {
        width: 1350px;
    }
}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-thumb {
    background-color: #90caf9;
    border-radius: 4px;
    box-shadow: inset 2px 0 2px 0 rgba(0, 0, 0, 0.233),
        inset -2px 0 2px 0 rgba(0, 0, 0, 0.233);
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, var(--nice-cyan), rgb(151, 9, 170));
    /* background-image: linear-gradient(180deg, rgb(172, 172, 252), rgb(151, 9, 170)); */
    box-shadow: inset 1px 0 2px 0 rgba(0, 0, 0, 0.233),
        inset -1px 0 2px 0 rgba(0, 0, 0, 0.233);
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size);
    background-color: var(--body-background-color);
    min-height: 500vh;
    padding-top: 60px;
}

.section {
    padding: var(--main-padding-top) 0;
}

.dis-inline-block {
    display: inline-block;
}