/* CREATED BY PHILIP DROUBI */
:root {
    --html-background: #e96228;
    --html-color: #eee;
    --css-background: #1b45dd;
    --css-color: #eee;
    --js-background: #cfb431;
    --js-color: #eee;
    --Pname-color: #ffee00;
    --Pdesc-color: #ff99e6;
    --more-background: #222;
    --more-color: #eee;
}

.projectsGrid {
    margin-top: 40px;
    padding: 0 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    width: 100%;
    overflow: hidden;
    gap: 10px;
}

.card {
    background-color: rgba(172, 172, 172, 0.397);
    cursor: help;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    transition: 0.3s;
}

.card .loadingBar {
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    left: 0;
    background-color: rgba(212, 212, 212, 0.397);
    box-shadow: 0 0 20px 10px rgba(212, 212, 212, 0.397);
    animation-name: loadingBar;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(10deg);
}

@keyframes loadingBar {
    0% {
        left: -10px;
    }

    100% {
        left: 108%;
    }
}

.card .after {
    border-top-right-radius: 100%;
    position: absolute;
    background-color: #0289d191;
    width: 150%;
    height: 82%;
    bottom: -30%;
    left: -70%;
    box-shadow: 0 0 15px 20px #0289d191;
    /* box-shadow: 0 0 15px 20px #0288d1db; */
    z-index: 5;
    transition: 0.3s;
}

.card:hover .after {
    background-color: #0288d1db;
    bottom: -24%;
    left: -30%;
    box-shadow: 0 0 15px 20px #0288d1db;
}

.card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.card .img2 {
    position: absolute;
    top: 0;
    left: 130%;
    width: 100%;
    transition: 0.5s;
}

.card .img0 {
    position: absolute;
    top: 0;
    left: -130%;
    width: 100%;
    transition: 0.5s;
}

.card .img0 img,
.card .img2 img,
.card .img img {
    width: 130%;
    height: 100%;
    transform: translate(-15%);
    transition: 0.3s;
}

.card:hover .img img {
    transform: translate(-5%) scale(1.05);
    filter: blur(0.9px);
}

.card .info {
    position: absolute;
    top: 70%;
    left: 10px;
    width: 70%;
    max-width: 350px;
    z-index: 50;
    transition: 0.3s;
}

.card:hover .info {
    position: absolute;
    top: 46%;
    left: 18px;
    width: 70%;
}

.card .info .Pname {
    color: var(--Pname-color);
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1.15px;
}

.card .info .Pdesc {
    color: var(--Pdesc-color);
    font-family: cursive, sans-serif;
    margin: 8px 0;
    width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover .info .Pdesc {
    color: var(--Pdesc-color);
    font-family: cursive, sans-serif;
    width: initial;
    white-space: unset;
    text-overflow: unset;
    overflow: visible;
}

.card .info .techs,
/* .card .info .links, */
.card .info .type {
    opacity: 0;
    font-size: 14px;
    transition: 0.7s;
    color: var(--css-color);
    font-weight: 500;
    letter-spacing: 1.1px;
}

.card:hover .info .techs,
/* .card:hover .info .links, */
.card:hover .info .type {
    opacity: 1;
}

.techs {
    margin: 4px 0;
}

.techs p {
    display: inline-block;
}

.techs ul {
    display: inline-flex;
    gap: 6px;
}

.card .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    /* top: -48px; */
    /* border-bottom-left-radius: 8px; */
    border-bottom-right-radius: 8px;
    background-color: #0289d191;
    padding: 4px 10px 0;
    left: -200px;
    /* left: 50%;
    transform: translateX(-50%); */
    transition: 0.38s;
    z-index: 50;
}

.card:hover .links {
    /* top: 0; */
    left: 0;
}

.card .links a {
    position: relative;
    transition: 0.13s;
}

.card .links a.FEMLink img {
    width: 26px;
    height: 26px;
}

.card .links a:not(.card .links a.FEMLink) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nice-cyan);
    padding: 4px;
    border-radius: 8px;
    background-color: var(--navBar-color);
}

.card .links a:not(.card .links a:nth-last-child(1)) {
    margin-right: 8px;
}

.card .links a:hover {
    transform: scale(1.1);
}

.card .links a::after {
    content: attr('data-desc');
    background-color: var(--more-background);
    color: var(--more-color);
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 18px;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.HTMLTag {
    background-color: var(--html-background);
    color: var(--html-color);
}

.CSSTag {
    background-color: var(--css-background);
    color: var(--css-color);
}

.JSTag {
    background-color: var(--js-background);
    color: var(--js-color);
}

.moreTag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    padding: 2px 4px !important;
    font-size: 14px !important;
    background-color: var(--more-background) !important;
    color: var(--more-color) !important;
}