/* CREATED BY PHILIP DROUBI */
:root {
    --html-background: #e96228;
    --html-color: #eee;
    --css-background: #1b45dd;
    --css-color: #eee;
    --js-background: #cfb431;
    --js-color: #eee;
    --Pname-color: var(--nice-cyan);
    --Pdesc-color: #ff6fdb;
    --more-background: #222;
    --more-color: #eee;
    --after-sec-background-color: #262f66d7;
    --after-sec-boxShadow-color: #00083869;
    --hover-after-sec-background-color: #0288d1db;
    --hover-after-sec-boxShadow-color: #0288d1db;
    --exit-btn-BG: rgba(255, 255, 255, 0.1);
    --exit-btn-BG-hover: rgba(219, 23, 23, 0.8);
}

.projectsGrid {
    margin-top: 40px;
    padding: 0 18px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    width: 100%;
    gap: 14px;
}

.card {
    background-color: rgba(172, 172, 172, 0.397);
    cursor: help;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.253);
}

.card .loadingBar {
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    left: 0;
    background-color: rgba(212, 212, 212, 0.397);
    box-shadow: 0 0 20px 10px rgba(212, 212, 212, 0.397);
    animation-name: loadingBar;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: rotate(10deg);
}

@keyframes loadingBar {
    0% {
        left: -10px;
    }

    100% {
        left: 108%;
    }
}

.card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
}

.card .img2 {
    position: absolute;
    top: 0;
    left: 130%;
    width: 100%;
    transition: 0.5s;
}

.card .img0 {
    position: absolute;
    top: 0;
    left: -130%;
    width: 100%;
    transition: 0.5s;
}

.card .img0 img,
.card .img2 img,
.card .img img {
    width: 130%;
    height: 100%;
    transform: translate(-12%);
    transition: 0.3s;
}

.card:hover .img img {
    transform: translate(-5%);
    filter: blur(0.9px) brightness(0.9);
}

.card .info {
    position: absolute;
    box-shadow: 0 -3px 5px 0 #00000040;
    bottom: -45px;
    padding: 10px 10px 6px;
    left: 0;
    background-color: var(--after-sec-background-color);
    width: 100%;
    z-index: 50;
    transition: 0.3s;
}

.card:hover .info {
    bottom: 0;
}

.card .info .Pname {
    color: var(--Pname-color);
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1.15px;
}

.card .info .Pdesc {
    color: var(--Pdesc-color);
    font-family: cursive, sans-serif;
    margin: 6px 0;
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card:hover .info .Pdesc {
    color: var(--Pdesc-color);
    font-family: cursive, sans-serif;
    width: initial;
    white-space: unset;
    text-overflow: unset;
    overflow: visible;
}

.card .info .techs,
.card .info .type {
    opacity: 0;
    font-size: 14px;
    transition: 0.7s;
    color: var(--css-color);
    font-weight: 500;
    letter-spacing: 1.1px;
}

.card:hover .info .techs,
.card:hover .info .type {
    opacity: 1;
}

.techs {
    margin: 4px 0;
}

.techs p {
    display: inline-block;
}

.techs ul {
    margin-left: 4px;
    display: inline-flex;
    gap: 6px;
}

.card .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    border-bottom-right-radius: 8px;
    background-color: #0289d191;
    padding: 4px 10px 3px;
    left: -200px;
    transition: 0.38s;
    z-index: 50;
}

.card:hover .links {
    left: 0;
}

.card .links a {
    position: relative;
    transition: 0.13s;
}

.card .links a.FEMLink img {
    width: 26px;
    height: 26px;
}

.card .links a:not(.card .links a.FEMLink) {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nice-cyan);
    padding: 4px;
    border-radius: 8px;
    background-color: var(--navBar-color);
}

.card .links a:not(.card .links a:nth-last-child(1)) {
    margin-right: 8px;
}

.card .links a:hover {
    transform: scale(1.1);
}

.card .links a::after {
    content: attr('data-desc');
    background-color: var(--more-background);
    color: var(--more-color);
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 18px;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
}

.HTMLTag {
    background-color: var(--html-background);
    color: var(--html-color);
}

.CSSTag {
    background-color: var(--css-background);
    color: var(--css-color);
}

.JSTag {
    background-color: var(--js-background);
    color: var(--js-color);
}

.moreTag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
    padding: 2px 4px !important;
    font-size: 14px !important;
    background-color: var(--more-background) !important;
    color: var(--more-color) !important;
}

.moreInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86%;
    max-width: 400px;
    max-height: 80vh;
    background-color: rgba(34, 34, 34, 0.98);
    color: white;
    font-size: 18px;
    padding: 40px 18px 18px 18px;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-x: hidden;
    z-index: 1200;
}

.moreInfo::-webkit-scrollbar {
    width: 8px;
    background-color: #666;
}

.moreInfo::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #ccc;
    border-radius: 2px;
}

.moreInfo .exit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 18px;
    border-radius: 50%;
    cursor: pointer;
    width: 28px;
    height: 28px;
    color: var(--more-color);
    background-color: var(--exit-btn-BG);
    transition: 0.18s;
}

.moreInfo .exit:hover {
    background-color: var(--exit-btn-BG-hover);
}

.moreInfo .content h1 {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}

.moreInfo .content p {
    margin: 10px 0;
}

.moreInfo .content ul {
    margin: 8px 0;
    line-height: 1.3;
}

.moreInfo .content ul li {
    list-style: inside;
    list-style-position: inside;
    margin-left: 20px;
}

.moreInfo .content a {
    color: wheat;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: darkseagreen;
    margin-right: 5px;
}

.moreInfo .content i {
    margin-right: 5px;
}

.moreInfo .content img {
    display: block;
    margin: 18px auto;
    border-radius: 4px;
    max-width: 90%;
    border: 2px dashed rgb(255, 217, 147);
}

.moreInfo .content .center {
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

@media (min-width:610px) and (max-width:741px) {
    .projectsGrid {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:390px) {
    .projectsGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .card .info {
        background: linear-gradient(0, #262f66 60%, var(--after-sec-background-color));
        background-color: unset;
    }
}